* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:'Comic Sans MS', cursive, sans-serif;
}
@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Regular.ttf') format('truetype');
    font-weight: normal;
}
.container form {
    outline: auto;
    outline-color: gray;
    outline-style: dashed;
    outline-width: thin;
}

.imagenes {
    width: 2rem; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción */
    display: block; /* Asegura que se comporte bien en dispositivos móviles */
    margin: auto; /* Centra las imágenes */
}

/* Asegura que el textarea ocupe el 100% del ancho */
.form-floating textarea {
    width: 100%;
}
.navbar-nav{
    text-decoration: none;
    color: #333333;
    transition: color 0.3s;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Nexa', sans-serif;
    font-size: 23px;
}

.navbar-nav:hover {
    text-decoration: none;
    color: rgba(130,54,73,255);
    transition: color 0.3s;
}
.socialmedia-tittle{
    margin-top: 10%;
    color: rgba(130,54,73,255);
    font-size: 3rem;
}

.icons a {
    color: white; /* Cambia el color del ícono */
    text-decoration: none; /* Elimina subrayado de los enlaces */
    transition: color 0.3s; /* Efecto de transición suave */
    
}
.icon-youtube, .icon-linkedin, .icon-instagram, .icon-facebook{
    font-size: 3rem;
    text-align: center;
} 


/* Efecto Hover */
.linkedin:hover {
    
    transform: scale(1.1) ;
}

.facebook:hover {
    
    transform: scale(1.1);
}

.instagram:hover {
    
    transform: scale(1.1);
}

.youtube:hover {
    
    transform: scale(1.1);
}

footer {
    background-color: rgb(236, 232, 232);
    color:#000000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}


.footer-section h3 {
    padding-bottom: 5%;
    border-bottom: 2px solid #000000;
    text-align: center;
    
}
.footer-section p{
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.footer-section a {
    color: #000000;
    text-decoration: none;
    
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 2%;
}

/* Agrega algunos ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .BANDERAS {
        display: flex;
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .imagenes {
        width: 3rem; /* Aumenta el tamaño en pantallas pequeñas */
    }
}
