* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:'Comic Sans MS', cursive, sans-serif;
}
.h-1{
    font-family: 'Nexa', sans-serif;
}
@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Regular.ttf') format('truetype');
    font-weight: normal;
}
html, body {
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.superior {
    height: 200px;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 0 20px;
    display: flex;
    flex-direction: column; /* Apilar logo y menú en columnas */
    justify-content: center;
}

.logo-container {
    width: 100%;
    margin-bottom: 20px;
}

.menu { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    align-items: center;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    gap: 20px; /* Añade espacio entre los elementos */
}

.menu .nav-link {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s;
}

.menu .nav-link:hover {
    text-decoration: none;
    color: rgba(130,54,73,255);
    transition: color 0.3s;
}

.seccion-1, .seccion-2 {
    display: flex;
}
.imagen1, .imagen2 {
    width: 50%;
    padding: 2%;
}
.imagen2{
    background-color: rgba(130,54,73,255);
    opacity: 0.8;
}
.texto{
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.h-1{
    height: 50%;
    font-size: 4vw;
    padding-top: 10%;
    background-color: rgba(255,255,255,0.8);
}
.-p{
    height: 50%;
    font-size: 2vw;
    padding-top: 5%;
    
    background-color: rgba(255,255,255,0.8);
}
.h-4{
    height: 30%;
    font-size: 3vw;
    background-color: rgba(255,255,255,0.8);
}
.-p4{
    height: 70%;
    font-size: 2vw;
    padding-bottom: 10%;
    background-color: rgba(255,255,255,0.8);
}

.socialmedia-tittle{
    margin-top: 10%;
    color: rgba(130,54,73,255);
    font-size: 3rem;
}

.icons a {
    color: white; /* Cambia el color del ícono */
    text-decoration: none; /* Elimina subrayado de los enlaces */
    transition: color 0.3s; /* Efecto de transición suave */
    
}
.icon-youtube, .icon-linkedin, .icon-instagram, .icon-facebook{
    font-size: 3rem;
    text-align: center;
} 


/* Efecto Hover */
.linkedin:hover {
    
    transform: scale(1.1) ;
}

.facebook:hover {
    
    transform: scale(1.1);
}

.instagram:hover {
    
    transform: scale(1.1);
}

.youtube:hover {
    
    transform: scale(1.1);
}

footer {
    background-color: rgb(236, 232, 232);
    color:#000000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}


.footer-section h3 {
    padding-bottom: 5%;
    border-bottom: 2px solid #000000;
    text-align: center;
    
}
.footer-section p{
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.footer-section a {
    color: #000000;
    text-decoration: none;
    
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 2%;
}

@media (min-width: 768px) {

    .superior {
        flex-direction: row; /* Coloca el logo y el menú en una sola fila */
        justify-content: space-between;
        padding: 0 50px;
        height: 150px; /* Ajusta la altura */
    }

    .logo-container {
        width: auto; /* Ajusta el tamaño del contenedor */
        margin: 0; /* Elimina márgenes adicionales */
    }

    .menu {
        justify-content: flex-end; /* Alinea el menú a la derecha */
        gap: 30px; /* Añade más espacio entre los elementos del menú */
        margin-right: 17%; /* Elimina margen derecho */
        font-size: 22px; /* Aumenta ligeramente el tamaño del texto */
    }

}

@media (min-width: 1024px) {
    .superior {
        height: 120px; /* Ajusta la altura para pantallas grandes */
        padding: 0 100px; /* Más espacio a los lados */
    }

    .menu {
        font-size: 24px; /* Aumenta el tamaño del texto en pantallas grandes */
        gap: 40px; /* Añade más espacio entre los elementos */
    }
}